#search-header {
    padding: 50px;
    text-align: center;
}

#search-card {
    margin-top: 10px;
    width: 37rem;
    object-fit: contain;
}

.card-name {
    margin: 10px 0 0 10px;
    display: inline-flex;
    align-items: baseline;
}

.card-title, .card-subtitle {
    margin-left: 10px;
}

.card-body {
    padding-top: 0px !important;
}

.profile-img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.body-img {
    height: 300px;
    border-radius: 15px !important;
    object-fit: cover;
    object-position: center;
    
}

.body-video {
    justify-content: center;
    height: 100% !important ;
    width: 100% !important;
}

.counts {
    margin: 10px 0 0 0;
    justify-content: space-evenly;
}

#random-header {
    padding: 50px;
    text-align: center;
}

#random-card {
    margin-top: 10px;
    /* width: 15rem; */
}
