#search-header {
    padding: 50px;
    text-align: center;
}

#search-card {
    margin-top: 10px;
    width: 50rem;
}

#random-header {
    padding: 50px;
    text-align: center;
}

#random-card {
    margin-top: 10px;
    /* width: 15rem; */
}
