.random-card {
    width: 180px;
    margin-bottom: 35px;
    display: flex;
    box-shadow:  0 5px 5px rgb(168, 168, 168);
    border: none !important;
}

.twitter-users {
    display: flex;
    justify-content: space-evenly;
    flex-flow: row wrap;
}

.card-user-img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin: 10px 0 10px 20px;
}

#random-header {
    margin: 120px 0 50px 0;
    text-align: center;
    text-shadow: 1px 1px 1px grey;

}

#random-card {
    margin-top: 10px;
}