* {
    font-family: 'futura';
}
body {
    background: rgb(180, 224, 240) !important;
}

#navbarNav {
    justify-content: flex-end;
}

.navbar-brand {
    font-family: "Mr Dafoe";
    font-size: 32px !important;
    color: rgb(45, 45, 45) !important;
    /* font-weight: bold; */
}

.twitter-icon {
    height: 32px;
    width: 32px;
    margin-left: 15px;
    fill: #3BA9EE;
}

.twitter-verified {
    fill: #3BA9EE;
    margin: 0 0 10px 3px;
}

#home-header {
    font-family: "Mr Dafoe";
    /* font-family: "SignPainter"; */
    font-size: 84px !important;
    text-shadow: 1px 1px 1px grey;
    color: rgb(45, 45, 45) !important;


}

#search-header {
    margin: 120px 0 50px 0;
    text-align: center;
    text-shadow: 1px 1px 1px grey;
}

.search-input {
    margin-bottom: 30px;
}

.selector {
    border: none;
    margin: 0 5px 0 5px;

}

#search-card {
    margin: 10px 0 10px 0;
    width: 37rem;
    object-fit: contain;
}

.card-name {
    margin: 10px 0 0 10px;
    display: inline-flex;
    align-items: baseline;
}

.card-title, .card-subtitle {
    margin-left: 10px;
}

.card-text {
    font-weight: 500;
}

.card-body {
    padding-top: 0px !important;
    padding-bottom: 15px !important;
}

.profile-img {
    border-radius: 50%;
}

.body-img {
    height: 300px;
    border-radius: 15px !important;
    object-fit: cover;
    object-position: center;
    margin-top: 10px;
}

.body-video {
    justify-content: center;
    height: 100% !important ;
    width: 100% !important;
    margin-top: 10px;
}

.counts {
    margin: 10px 0 0 0;
    justify-content: space-evenly;
}

.retweet-count {
    padding: 5px;
    font-weight: 500;
    transition: 250ms ease-in-out;
}

.retweet-count:hover {
    cursor: not-allowed;
    background-color: rgba(0, 128, 0, 0.05);
    color: green;
    border-radius: 10px;
}

.favorite-count {
    padding: 5px;
    font-weight: 500;
    transition: 250ms ease-in-out;
}

.favorite-count:hover {
    cursor: not-allowed;
    background-color: rgba(255, 0, 0, 0.05);
    color: red;
    border-radius: 10px;
}

/* Random */

.random-card {
    width: 180px;
    margin-bottom: 35px;
    display: flex;
    box-shadow:  0 5px 5px rgb(168, 168, 168);
    border: none !important;
}

.twitter-users {
    display: flex;
    justify-content: space-evenly;
    flex-flow: row wrap;
}

.card-user-img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin: 10px 0 10px 20px;
}

#random-header {
    margin: 120px 0 50px 0;
    text-align: center;
    text-shadow: 1px 1px 1px grey;

}

#random-card {
    margin-top: 10px;
}

/* Home */

.home-container {
    margin-top: 120px;
}

.home-title {
    background: url("../images/Lightened\ BG\ Image.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    box-shadow:  0 5px 10px grey;
}

.page-footer {
    bottom: 0px;
    width: 100%;
    height: 30px;
    position: fixed;
}





